
.match-info-table {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 20px;
    font-family: Arial, sans-serif; 
  }
  
  .match-info-table th, .match-info-table td {
    border: 1px solid #ddd; 
    text-align: left; 
    padding: 8px; 
  }
  
  .match-info-table th {
    background-color: #4CAF50; 
    color: white; 
  }
  

  .match-info-table tr:nth-child(odd) {
    background-color: #f2f2f2; 
  }
  .match-info-table tr:nth-child(even) {
    background-color: #f2f2f2; 
  }
  
  .match-info-table tr:hover {
    background-color: #ddd; 
  }
  