/* team.css */


.team-section {
  text-align: center; 
  padding: 50px; 

}


.team-logo {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
  
}



.team h3 {
    margin: 0; 
    color: #333; 
    font-size: 20px; 
    white-space: nowrap; 
    text-align: center; 
    overflow: hidden;
    text-overflow: ellipsis; 
    margin-bottom: 30px;
}

h1{
  padding-bottom: 50px;
}

.team-logo-cover {
  border-radius: 10px;
  text-align: center; 
  margin-bottom: 15px; 


}
.teamimg{
  width: 300px; 
  height: 300px; 
  border-radius: 50%;
}

