.content{
	padding-bottom: 5%;
}
body{
	background-color: #eee;
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/732/wood-floor.jpg) repeat;
	background-size: cover; 
	font-family: 'Signika', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;  
}

.bracket {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-gap: 2px 6px;
	grid-auto-flow: column;
	margin: 20px auto;
	width:1200px;
	height: 600px;
} 

.region {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(46,8px);
	grid-gap: 2px 6px;
	grid-auto-flow: column;
}

.region-1 {
	grid-column: 1 / span 4;
	grid-row: 1 / span 47;
}

h1 {
text-align: center;
}


.region-2 {
	grid-column: 1 / span 4;
	grid-row: 49 / span 47
}

.region-3 {
	grid-column: -5 / span 4;
	grid-row: 1 / span 47;
	width: 300px; 
	height: 300px; 
	border-radius: 50%; 
	margin-bottom: 15px; 
}

.region-4 {
	grid-column: -5 / span 4;
	grid-row: 49 / span 47
}


ul {
	margin:0;
	padding:0;
	list-style-type:none;
}

.team {
	background-color: white;
	font-size:11px;
	height:18px;
	line-height:18px;
	padding:0 5px;
}

.team-top {
	margin-bottom:2px;
}

.winner {
	background-color:#005eb8;
	color: white;
}

.matchup {
	grid-column:span 1;
	grid-row:span 4;
	box-shadow:1px 1px 10px rgba(0,0,0,.5);
}

.matchup-1,
.matchup-9 {
	grid-column:span 1;
	grid-row:span 4;
}

.matchup-2,
.matchup-10 {
	grid-row: 7 / span 4;
}

.matchup-3,
.matchup-11 {
	grid-row: 13 / span 4;
}

.matchup-4,
.matchup-12 {
	grid-row: 19 / span 4;
}

.matchup-5,
.matchup-13 {
	grid-row: 25 / span 4;
}

.matchup-6,
.matchup-14 {
	grid-row: 31 / span 4;
}

.matchup-7,
.matchup-15 {
	grid-row: 37 / span 4;
}

.matchup-8,
.matchup-16 {
	grid-row: 43 / span 4;
}

.matchup-17,
.matchup-25 {
	grid-column: -2/span 1;
	grid-row: 1/span 4;
}

.matchup-18,
.matchup-26 {
	grid-column:-2/span 1;
	grid-row:7/span 4;
}

.matchup-19,
.matchup-27 {
	grid-column:-2/span 1;
	grid-row:13/span 4;
}

.matchup-20,
.matchup-28 {
	grid-column:-2/span 1;
	grid-row:19/span 4;
}

.matchup-21,
.matchup-29 {
	grid-column:-2/span 1;
	grid-row:25/span 4;
}

.matchup-22,
.matchup-30 {
	grid-column:-2/span 1;
	grid-row:31/span 4;
}

.matchup-23,
.matchup-31 {
	grid-column:-2/span 1;
	grid-row:37/span 4;
}

.matchup-24,
.matchup-32 {
	grid-column:-2/span 1;
	grid-row:43/span 4;
}

.matchup-33,
.matchup-37 {
	grid-column: 2 / span 1;
	grid-row: 4 / span 4;
}

.matchup-34,
.matchup-38 {
	grid-column: 2 / span 1;
	grid-row: 16 / span 4;
}

.matchup-35,
.matchup-39 {
	grid-column: 2 / span 1;
	grid-row: 28 / span 4;
}

.matchup-36,
.matchup-40 {
	grid-column: 2 / span 1;
	grid-row: 40 / span 4;
}

.matchup-41,
.matchup-45 {
	grid-column: -3 / span 1;
	grid-row: 4 / span 4;
}

.matchup-42,
.matchup-46 {
	grid-column: -3 / span 1;
	grid-row: 16 / span 4;
}

.matchup-43,
.matchup-47 {
	grid-column: -3 / span 1;
	grid-row: 28 / span 4;
}

.matchup-44,
.matchup-48 {
	grid-column: -3 / span 1;
	grid-row: 40 / span 4;
}

.matchup-49,
.matchup-51 {
	grid-column: 3 / span 1;
	grid-row: 10 / span 4;
}

.matchup-50,
.matchup-52 {
	grid-column: 3 / span 1;
	grid-row: 34 / span 4;
}

.matchup-53,
.matchup-55 {
	grid-column: -4 / span 1;
	grid-row: 10 / span 4;
}

.matchup-54,
.matchup-56 {
	grid-column: -4 / span 1;
	grid-row: 34 / span 4;
}

.matchup-57,
.matchup-58 {
	grid-column: 4 / span 1;
	grid-row: 22 / span 4;
}

.matchup-59,
.matchup-60 {
	grid-column: -5 / span 1;
	grid-row: 22 / span 4;
}

.matchup-61 {
	grid-column: 1 / span 1;
	grid-row: 2/ span 4;
}

.matchup-62 {
	grid-column: 3 / span 1;
	grid-row: 2/ span 4;
}

.championship {
	grid-column: 2 / span 1;
	grid-row: 1/ span 4;
	.team {
		height:28px;
		line-height: 28px;
	}
}

.winnerlogo {
	grid-column: 6 / span 3;
	grid-row: 1;
	margin:0;
	width: 300px; 
	height: 300px; 
	border-radius: 50%; 
	margin-bottom: 15px; 
}
/* 
home */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

.slideshow{
	z-index: 0;
	display: block;
}

*, *:before, *:after {
	box-sizing:border-box;
}

body {

	font-family: sans-serif;
	margin:0;
}
.table-content{
	background-color: #eee;
}

h1,h2,h3,h4,h5,h6 {
	margin:0;
}

.container {
	max-width: 1000px;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	justify-content:center;
	min-height:100vh;
	padding-top: 200px;
}

.table {
	width:100%;
	border:1px 
}

.table-header {
	display:flex;
	width:100%;
	background:#000;

}

.table-row {
	display:flex;
	width:100%;
	padding: 10px;
}

.table-data, .header__item {
	flex: 1 1 20%;
	text-align:center;
}

.header__item {
	text-transform:uppercase;
}

.filter__link {
	color:white;
	text-decoration: none;
	position:relative;
	display:inline-block;

	
}

/* policy */
.policy {
	background-color: #eee;
}

/* home slidebox */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.mySlides.active{
display:block;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* footer */
.footer {
	background-color: #333; 
	color: #fff;
	text-align: center;
	padding: 20px 0; 
	width: 100%; 
	position: fixed;
	left: 0;
	bottom: 0; 
}